C:\wamp64\www\amarhospital\wp-content\plugins\docdirect_core\shortcodes
.phpintel
.idea
*.log
*.zip
.vscode
*.iml
wp-content/uploads/
git add . && git commit -m  "add schedule tab to dr profile" &&
git checkout production && git merge master &&
git push && git checkout master && git push
!/wp-content/themes/docdirect/directory/templates/map-search-list.php
!/wp-content/plugins/docdirect_core/shortcodes/class-registration.php
!/wp-content/themes/docdirect/js/docdirect_functions.js
!/wp-includes/css/dist/block-library/style.min.css
!/wp-content/plugins/docdirect_core/shortcodes/class-registration.php
