C:\wamp64\www\amarhospital\wp-content\plugins\docdirect_core\shortcodes
.phpintel
.idea
*.log
*.zip
.vscode
*.iml
wp-content/uploads/
git add . && git commit -m  "add schedule tab to dr profile" &&
git checkout production && git merge master &&
git push && git checkout master && git push

!/wp-content/themes/docdirect/inc/footers/class-footers.php
